Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.19
Werkzeug==0.9.4
itsdangerous==0.24
wsgiref==0.1.2
cfenv==0.4.0
anyjson==0.3.3
simplejson==3.6.5
requests==0.14.2
furl==0.4.93
python-logstash==0.4.6
#urllib
#urllib3==1.10.1
#urllib2
#python==3.4.1
#urllib==1.5.0
#rsa==3.1.1
